---
BasedOnStyle: Google
AlignEscapedNewlines: Left
AlignTrailingComments: 'true'
BinPackArguments: 'true'
BinPackParameters: 'true'
Language: Cpp
ReflowComments: 'true'
SortIncludes: 'true'
SpaceBeforeAssignmentOperators: 'true'
SpacesBeforeTrailingComments: '5'
Standard: Auto
TabWidth: '4'
UseTab: Never
BreakBeforeBraces: Stroustrup 
